<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<body>
<header th:fragment="header">
    <!-- 상단 로고 + 메뉴 아이콘 -->
    <div class="header">
        <div class="logo" onclick="location.href='/'">
            <img src="/images/LogoSmall.png" alt="Build-Note Logo" style="height: 75px;">
        </div>
        <div class="menu-icon" onclick="toggleSidebar()">
            <section id="menuIcon">
                <div></div>
                <div></div>
                <div></div>
            </section>
        </div>
    </div>
    <!-- 오버레이 (배경 클릭 시 닫힘) -->
    <div id="overlay" class="overlay" onclick="closeSidebar()">
        <!--  사이드바 메뉴  -->
        <div id="sidebar" class="sidebar" onclick="event.stopPropagation();">
            <!-- 사이드바 내부 내용 -->
            <br>
            <ul>
                <!--  전체 확인 가능  -->
                <th:block sec:authorize="isAnonymous()">
                    <li><a href="/">홈</a></li>
                </th:block>

                <!--  팀장만 확인 가능  <li sec:authorize="hasRole('TEAM_LEADER')">-->
                <li><a href="/daily-report/create">오늘의 작업일보 작성</a></li>
                <li><a href="/daily-report/list">내가 작성한 작업일보</a></li>

                <!--  관리자만 확인 가능  <li sec:authorize="hasRole('ADMIN')">-->
                <li><a href="/admin/reports">전체 작업일보 조회</a></li>
<!--                <li><a href="/admin/workers">작업자 / 팀 관리</a></li>-->
<!--                <li><a href="/admin/progress">공정 관리 리포트</a></li>-->

                <!--  전체 확인 가능  -->
                <th:block sec:authorize="isAnonymous()">
                    <li><a href="/join">회원가입</a></li>
                    <li><a href="/login">로그인</a></li>
                </th:block>

                <!--  팀장,관리자 확인 가능  -->
                <th:block sec:authorize="isAuthenticated()">
                    <li><a href="/logout">로그아웃</a></li>
                    <li><a href="/my">내 정보</a></li>
                </th:block>
            </ul>
        </div>
    </div>
    <!--
    <ul>
        <li><a href="/static">Index</a></li>

            인증 정보 > sec:authentication
            허가 처리 > sec:authorize

        <th:block sec:authorize="isAnonymous()">
            <li><a href="/join">Join</a></li>
            <li><a href="/login">Login</a></li>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <li><a href="/logout">Logout</a></li>
            <li><a href="/my">My</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/admin">Admin</a></li>
        </th:block>
    </ul>
    -->
</header>
</body>
</html>