<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Build-Note</title>
    <style>

    </style>
</head>
<body>
    <th:block th:insert="~{inc/header.html :: menu}"></th:block>
    <h2>Index</h2>

    <div>시작 페이지</div>

    <!--/*
     <div>username: <span sec:authentication="name"></span></div>

    <div class="message">pricipal: <span sec:authentication="principal.member"></span></div>
    */-->
</body>
</html>