<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BuildNote</title>
</head>
<body>
    <th:block th:insert="~{inc/header.html :: header}"></th:block>
    <h2>Login</h2>

    <form method="POST" action="/loginok" name="loginForm">
        <div>
            <label>아이디</label>
            <input id="username" type="text" name="username" placeholder="username"/>
        </div>
        <div>
            <label>비밀번호</label>
            <input id="password" type="password" name="password" placeholder="password"/>
        </div>
        <div>
            <button id="submit" value="login">로그인</button>
        </div>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</body>
</html>